:root {
  --font-family: "Inter", sans-serif;
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

html,
body {
  position: relative;
  height: 100%;
  font-family: var(--font-family);
}

body {
  background: transparent;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: transparent;
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 100;
  position: relative;
  margin-top: 0px;
}

.btn-nav {
  top: 540px;
  right: 40%;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
}

p {
  font-size: 32px;
  color: var(--dark-blue);
  font-weight: 300;
}

h6 {
  font-weight: 500;
  color: var(--grayish-blue);
}

b {
  font-weight: 700;
  color: var(--dark-blue);
}

img[alt="background"] {
  height: auto;
  width: 600px;
  right: 125px;
  top: 45px;
}

img[alt="photo"] {
  height: 480px;
  width: auto;
  -webkit-box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
}

img[alt="quote"] {
  top: 120px;
  left: 170px;
}

.swiper.mySwiper.container {
  max-height: 655px;
}

.pict{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.caption{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media (max-width: 575.98px) {
  body {
    height: auto;
  }

  img[alt="background"] {
    height: auto;
    width: 385px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  img[alt="photo"] {
    height: 300px;
    width: auto;
    -webkit-box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -17px rgba(0, 0, 0, 0.75);
  }

  .pict{
      position: relative;
      text-align: center;
      top: auto;
      transform: none;
}

.caption{
    position: relative;
      text-align: center;
      top: auto;
      transform: none;
}

  p {
    font-size: 18px;
  }

  img[alt="quote"] {
    top: 380px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    width: auto;
}

  .swiper.mySwiper.container {
    max-height: none;
  }

  .swiper {
    padding: 1rem;
    overflow-y: visible;
  }

  .btn-nav {
  top: 310px;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Aturan CSS untuk perangkat tablet di sini */
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Aturan CSS untuk perangkat desktop di sini */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Aturan CSS untuk perangkat desktop besar di sini */
}

@media (min-width: 1200px) {
  /* Aturan CSS untuk perangkat ekstra besar di sini */
}
